{% extends "/base/base.html.twig" %}

{% block title %}Application With Twig Extention 2 {% endblock %}
{% block head %}
    {{ parent() }}
    <link href="/public/css/styles.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="nadir">ACME BUNDLE CONTROLLER </h1>
{% endblock %}
